{{#alerts}}
	<div class="alert alert-block {{#type}} alert-{{type}} {{/type}}">
	{{#close}}
	  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  {{/close}}

	  {{#title}}
	  <h4>{{title}}</h4>
	  {{/title}}

	  {{message}}
	</div>
{{/alerts}}